ProyectoTopicos/ProyectoConsultas/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AdventureWorks.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdventureWorks.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3459/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSalesOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesOrderHeader" nillable="true" type="tns:ArrayOfSalesOrderHeader" />
  <xs:complexType name="SalesOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillToAddressID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardApprovalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Freight" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OnlineOrderFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PurchaseOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RevisionNumber" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SalesOrderDetails" nillable="true" type="tns:ArrayOfSalesOrderDetail" />
      <xs:element minOccurs="0" name="SalesOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShipMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipToAddressID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDue" type="xs:decimal" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
  <xs:complexType name="ArrayOfSalesOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesOrderDetail" nillable="true" type="tns:SalesOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesOrderDetail" nillable="true" type="tns:ArrayOfSalesOrderDetail" />
  <xs:complexType name="SalesOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderQty" type="xs:short" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderHeader" nillable="true" type="tns:SalesOrderHeader" />
      <xs:element minOccurs="0" name="SalesOrderID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPriceDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesOrderDetail" nillable="true" type="tns:SalesOrderDetail" />
</xs:schema>